<div class="video">
  <video width="320" height="240" autoPlay loop>
    <source
      src="https://assets-cdn.maze.design/video/heroAnimation.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
