.video {
    position: absolute;
    width: 103%;
    height: 480px;
    left: -3px;
    overflow: hidden;
    video {
      display: block;
      position: absolute;
      width: auto;
      height: 100%;
      outline: none;
      right: 0px;
      bottom: 0px;
    }
  }
  .video::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    z-index: 2;
    background: linear-gradient(
      rgb(241, 245, 250) 0%,
      rgba(241, 245, 250, 0) 100%
    );
  }