<ion-header class="ion-no-border" [translucent]="true" mode="ios">
  <ion-toolbar color="tertiary">
        <img src="https://www.datocms-assets.com/38511/1606946394-mazelogob.svg" alt="img" class="logo">
  </ion-toolbar>
</ion-header>