#header {
  padding-left: 20px;
  padding-right: 20px;
  .title {
    color: #000;
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    padding-top: 20px;
  }
  .subtitle {
    color: #000;
    font-weight: 300;
  }
  .btn-started {
    --background: rgb(5, 104, 253);
    height: 60px;
    width: 60%;
    margin-bottom: 30px;
    --background-activated: rgb(5, 104, 253);
    span {
      color: #fff;
      font-weight: bold;
      background: transparent;
    }
  }
}