<section id="sec-logos">
  <h3 class="heading-one">Trusted by 40,000+ brands</h3>
  <p class="heading-two">Read our customer stories</p>
  <ion-row class="container-logos">
    <ion-col size="6">
      <img
        src="https://www.datocms-assets.com/38511/1609417388-uberlogo.png"
        alt="img"
        class="img-logos"
      />
    </ion-col>
    <ion-col size="6">
      <img
        src="https://www.datocms-assets.com/38511/1610382168-ibmlogo.png"
        alt="img"
        class="img-logos"
      />
    </ion-col>
  </ion-row>
  <ion-row class="container-logos">
    <ion-col size="6">
      <img
        src="https://www.datocms-assets.com/38511/1610382168-ibmlogo.png"
        alt="img"
        class="img-logos"
      />
    </ion-col>
    <ion-col size="6">
      <img
        src="https://www.datocms-assets.com/38511/1609417388-uberlogo.png"
        alt="img"
        class="img-logos"
      />
    </ion-col>
  </ion-row>

  <ion-row class="text-video-two">
    <h3 class="heading-three">
      Get quantifiable user insights you can act on instantly
    </h3>
    <div class="video-two">
      <video width="320" height="240" autoPlay loop>
        <source
          src="https://assets-cdn.maze.design/video/testAnywhere.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>
    <p class="heading-four">Test anywhere, <br />anytime</p>
    <p class="heading-five">
      Easily create a maze for every project need, from usability tests to user
      surveys, then share with users in a matter of minutes with a simple URL.
    </p>
    <ion-button shape="round" fill="outline" class="btn-video-two"
      ><span>Learn more</span></ion-button
    >
  </ion-row>
  <ion-row class="text-video-three">
    <div class="video-two">
      <video width="320" height="240" autoPlay loop>
        <source
          src="https://assets-cdn.maze.design/video/madeForEveryWorkflow.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>
    <p class="heading-four">
      Made for every<br />
      workflow
    </p>
    <p class="heading-five">
      Easily create a maze for every project need, from usability tests to user
      surveys, then share with users in a matter of minutes with a simple URL.
    </p>
    <ion-button shape="round" fill="outline" class="btn-video-two"
      ><span>Learn more</span></ion-button
    >
  </ion-row>
  <ion-row class="text-video-four">
    <div class="video-two">
      <video width="320" height="240" autoPlay loop>
        <source
          src="https://assets-cdn.maze.design/video/meaningfulReport.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>
    <p class="heading-four">
      Generate visual,<br />
      meaningful reports<br />
      instantly
    </p>
    <p class="heading-five">
      Easily create a maze for every project need, from usability tests to user
      surveys, then share with users in a matter of minutes with a simple URL.
    </p>
    <ion-button shape="round" fill="outline" class="btn-video-two"
      ><span>Learn more</span></ion-button
    >
  </ion-row>
</section>
<section id="sec-two">
  <h1 class="title">Meet rapid testing, made for user-facing experiences </h1>
  <ion-button shape="round" mode="ios" class="btn-learn"><span>Learn more</span></ion-button>
</section>
