#sec-logos {
  position: relative;
  box-sizing: border-box;
  margin: 64px 0px;
  min-width: 0px;
  background: #fff;
  bottom: -470px;
  .heading-one {
    text-align: center;
    color: #000;
    background: transparent;
  }
  .heading-two {
    text-align: center;
    color: #000;
    background: transparent;
  }
  .container-logos {
    background: #fff;
    ion-col {
      background: #fff;
    }
    .img-logos {
      width: 60%;
      display: block;
      margin: 0px auto;
      background: #fff;
    }
  }
  .text-video-two {
    margin-top: 40px;
    background: #fff;
    .heading-three {
      color: #000;
      font-weight: bold;
      text-align: center;
      font-size: 2.3rem;
      background: #fff;
      margin-bottom: 30px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .video-two {
      background-color: transparent;
      position: relative;
      padding: 15px;
      video {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        outline: none;
        border-radius: 20px;
      }
    }
    .heading-four {
      color: #000;
      font-weight: bold;
      font-size: 30px;
      text-align: left;
      padding-left: 18px;
      padding-right: 18px;
      background: #fff;
      margin-bottom: 0px;
    }
    .heading-five {
      color: #000;
      font-weight: 300;
      text-align: left;
      padding-left: 18px;
      padding-right: 18px;
      background: #fff;
    }
    .btn-video-two {
      --background: #fff;
      --background-activated: #fff;
      --border-color: #000;
      background: #fff;
      margin-left: 15px;
      height: 60px;
      width: 40%;
      margin-bottom: 20px;
      span {
        color: #000;
        font-weight: bold;
        background: transparent;
      }
    }
  }
  .text-video-three {
    margin-top: 40px;
    background: #fff;
    .video-two {
      background-color: transparent;
      position: relative;
      padding: 15px;
      video {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        outline: none;
        border-radius: 20px;
      }
    }
    .heading-four {
      color: #000;
      font-weight: bold;
      font-size: 30px;
      text-align: left;
      padding-left: 18px;
      padding-right: 18px;
      background: #fff;
      margin-bottom: 0px;
    }
    .heading-five {
      color: #000;
      font-weight: 300;
      text-align: left;
      padding-left: 18px;
      padding-right: 18px;
      background: #fff;
    }
    .btn-video-two {
      --background: #fff;
      --background-activated: #fff;
      --border-color: #000;
      background: #fff;
      margin-left: 15px;
      height: 60px;
      width: 40%;
      margin-bottom: 20px;
      span {
        color: #000;
        font-weight: bold;
        background: transparent;
      }
    }
  }
  .text-video-four {
    margin-top: 40px;
    background: #fff;
    .video-two {
      background-color: transparent;
      position: relative;
      padding: 15px;
      video {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        outline: none;
        border-radius: 20px;
      }
    }
    .heading-four {
      color: #000;
      font-weight: bold;
      font-size: 30px;
      text-align: left;
      padding-left: 18px;
      padding-right: 18px;
      background: #fff;
      margin-bottom: 0px;
    }
    .heading-five {
      color: #000;
      font-weight: 300;
      text-align: left;
      padding-left: 18px;
      padding-right: 18px;
      background: #fff;
    }
    .btn-video-two {
      --background: #fff;
      --background-activated: #fff;
      --border-color: #000;
      background: #fff;
      margin-left: 15px;
      height: 60px;
      width: 40%;
      margin-bottom: 20px;
      span {
        color: #000;
        font-weight: bold;
        background: transparent;
      }
    }
  }
}
#sec-two {
  position: relative;
  bottom: -450px;
  background: #fff;
  height: 250px;
  .title {
    background: #fff;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .btn-learn {
    display: block;
    margin: 0px auto;
    --background: rgb(5, 104, 253);
    --background-activated: rgb(5, 104, 253);
    height: 60px;
    width: 40%;
    background: #fff;
    span {
      color: #fff;
      background: transparent;
    }
  }
}
